  h1{
            color: rgb(0,0 255, );
            font-style: italic;
            margin: 60px;
        }
        p{color: blue;
            font-style: italic;
            margin: 30px;

        }
    